:root {
  font-size: 1em;
  --wave: #494a47;
  --aqua: #7cdbd5;
}

body {
  padding-left: 20em;
}

ul {
  font-size: 1.3rem;
}

h1 {
  font-size: 3rem;
  color: var(--wave);
}

.first-scope {
  --red-orange: #f15a29;
}

.second-scope {
  --mellow-yellow: #fedc3d;
}

.li-one {
  color: var(--aqua);
}

.li-two {
  color: var(--red-orange);
}

.li-three {
  color: var(--mellow-yellow);
}
