:root {
  --wave: #494a47;
  --aqua: #7cdbd5;
}

body {
  padding: 50px;
}

.first-scope {
  --red-orange: #f15a29;
}

.second-scope {
  --mellow-yellow: #fedc3d;
}

h1 {
  color: var(--wave);
}

.li-one {
  color: var(--aqua);
}

.li-two {
  color: var(--red-orange);
}

.li-three {
  color: var(--mellow-yellow);
}
